<%= form_tag "/blogs/create" do %>
    <div class='title'>
    <div>
    제목:<br> <input type="text" name='title'>
    </div>
    <div>
    내용:<br> <textarea cols=40 rows=10 name='contents'></textarea>
    </div>
    <div>
    <input type='submit' value='click!'>
    </div>
<%end%>
